<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>拾忆成海 (二)</string>
		<key>author</key>
		<string>MADMAN</string>
		<key>date</key>
		<string>02月13日</string>
		<key>comment</key>
		<string>58</string>
		<key>abstract</key>
		<string>一百多年前,有洋人在这里生活,国人也在这里生活,一百年后,同样的土地,换了不同的一批人,还是有洋人与国人.虽然生活的种类错综迷离,纷繁......</string>
		<key>img</key>
		<string>http://www.hb.xinhuanet.com/2013-05/08/115689077_451n.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拾忆成海 (三)</string>
		<key>author</key>
		<string>MADMAN</string>
		<key>date</key>
		<string>02月13日</string>
		<key>comment</key>
		<string>58</string>
		<key>abstract</key>
		<string>一百多年前,有洋人在这里生活,国人也在这里生活,一百年后,同样的土地,换了不同的一批人,还是有洋人与国人.虽然生活的种类错综迷离,纷繁......</string>
		<key>img</key>
		<string>http://img2.imgtn.bdimg.com/it/u=877840270,1544473012&amp;fm=15&amp;gp=0.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拾忆成海 (四)</string>
		<key>author</key>
		<string>MADMAN</string>
		<key>date</key>
		<string>02月13日</string>
		<key>comment</key>
		<string>58</string>
		<key>abstract</key>
		<string>一百多年前,有洋人在这里生活,国人也在这里生活,一百年后,同样的土地,换了不同的一批人,还是有洋人与国人.虽然生活的种类错综迷离,纷繁......</string>
		<key>img</key>
		<string>http://img3.imgtn.bdimg.com/it/u=1116943664,2948566801&amp;fm=21&amp;gp=0.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拾忆成海 (五)</string>
		<key>author</key>
		<string>MADMAN</string>
		<key>date</key>
		<string>02月13日</string>
		<key>comment</key>
		<string>58</string>
		<key>abstract</key>
		<string>一百多年前,有洋人在这里生活,国人也在这里生活,一百年后,同样的土地,换了不同的一批人,还是有洋人与国人.虽然生活的种类错综迷离,纷繁......</string>
		<key>img</key>
		<string>http://www.hb.xinhuanet.com/2013-05/08/115689077_451n.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拾忆成海 (六)</string>
		<key>author</key>
		<string>MADMAN</string>
		<key>date</key>
		<string>02月13日</string>
		<key>comment</key>
		<string>58</string>
		<key>abstract</key>
		<string>一百多年前,有洋人在这里生活,国人也在这里生活,一百年后,同样的土地,换了不同的一批人,还是有洋人与国人.虽然生活的种类错综迷离,纷繁......</string>
		<key>img</key>
		<string>http://www.hb.xinhuanet.com/2013-05/08/115689077_451n.jpg</string>
	</dict>
</array>
</plist>
