<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>推荐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>乐评</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>原声</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>古典</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>影评</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>摇滚</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>故事</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>新世纪</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>民谣</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>流行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>游记</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>爵士</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>独立</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string>电子</string>
	</dict>
</array>
</plist>
